@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf');
  font-display: swap;
}

.presentationContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.presentationTexte {
  text-align: center;
  font-size: 22px;
  display: block;
  font-family: 'Inria serif', sans-serif; 
  margin: 0 ;
  max-width: 500px; 
}

.image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .image {
    width: 40%;
    margin-top: 10px;
  }
  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 850px) {
  .image {
    width: 45%;
    margin: 10px;
  }

  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 600px) {
  .image {
    width: 40%;
    margin: 20px;
  }
  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (max-width: 480px) {
  .presentationContainer{
    margin-top: 60px;
  }
  .image {
    width: 40%;
    margin: 20px;
  }
  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
