@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf');
}

@font-face {
  font-family: 'Safira';
  src: url('../fonts/Safira-March.ttf');
}

.head {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.headContainer {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(186, 174, 152, 0.6);
  position: fixed;
  height: 70px;
}

.logo {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}

.headerRight{
  background-color: transparent;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.lien {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  margin-right: 20px;
  font-family: 'Glitther Syavina';
}

.instaIcon {
  background-color: transparent;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  color: #000000;
}

.presentationContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.presentationTexte {
  text-align: center;
  width: 40vw;
  height: 70vh;
  font-size: 22px;
  display: flex;
  align-items: center;
  font-family: 'Inria serif';
}

.image {
  width: 30%;
  display: flex;
  align-items: center;
}



@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
  .lien {
    font-size: 16px;
    margin-left: 5px;
  }
  .logo {
    margin-top: 10px;
    margin-left: 5px;
  }
  .instaIcon {
    margin-top: 20px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 430px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .presentationTexte {
    text-align: center;
    width: 40%;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
  .lien {
    font-size: 12px;
    margin-left: 5px;
  }
  .instaIcon {
    margin-top: 25px;
    font-size: 20px;
  }
  .logo {
    margin-top: 25px;
    margin-left: 5px;
  }
}
