.icon {
    margin-top: 15px;
    margin-left : 20px;
    background-color: transparent;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
}

.lien {
    cursor: pointer;
    font-size: 32;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
}

.head {
    display: flex;
    width: 100vw;
    height: 100px;
    align-items: flex-start;
}

.headContainer {
    z-index: 1;
    display: flex;
    width: 100vw;
    align-items: flex-start;
    background-color: rgb(228, 165, 113, 0.6);
    position: fixed;
    height: 70;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Poppins';
}

.text {
    text-align: center;
}

.image {
    width: 40%;
}

.instaIcon {
    background-color: transparent;
    margin-top: 15px;
    margin-right : 20px;
    cursor: pointer;
    color: #000000
 }