@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf');
}

@font-face {
  font-family: 'Safira';
  src: url('../fonts/Safira-March.ttf');
}

.container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.description {
  height: auto;
  font-family: 'Inria serif';
  max-width: 50%;
  padding: 0 1rem;
  margin: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  width: 30%;
  margin: 10px;
}

.formulaTitle {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Glitther Syavina';
  color: #333;
  margin-bottom: 8px;
}

.price {
  font-size: 24px;
  color: #c04e3c;
  font-family: 'Inria serif';
}

.h2 {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: normal;
  font-family: 'Inria serif';
}

.p {
  font-size: 16px;
  color: #666;
  font-family: 'Inria serif';
}

.presentation {
  font-size: 18px;
  width: 80vw;
  margin: auto;
  line-height: 130%;
}

.contact {
  font-size: 14px;
  font-family: 'Inria serif';
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 200%;
    margin-bottom: 1rem;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .presentation {
    font-size: 12px;
  }
  .formulaTitle {
    font-size: 26px;
  }
  
  .price {
    font-size: 18px;
  }
  
  .h2 {
    font-size: 12px;
  }
  
  .p {
    font-size: 10px;
  }
  .contact {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 400%;
    margin-bottom: 1rem;
  }
  .description {
    width: 50%;
    text-align: center;
  }
  .presentation {
    font-size: 10px;
  }
  .formulaTitle {
    font-size: 20px;
  }
  
  .price {
    font-size: 12px;
  }
  
  .h2 {
    font-size: 10px;
  }
  
  .p {
    font-size: 8px;
  }
  .contact {
    font-size: 8px;
  }
}
