@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf') format("woff2");
  font-display: swap;
}

.h1 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
  font-weight: bold;
}

.sliderContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.imageHead {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}


.image {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: auto;
  font-size: 22px;
  font-family: "Inria serif";
}

.button, .buttonPrestation {
  border: solid 1px #000000 !important;
  background-color: transparent !important;
  cursor: pointer;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  transition: 0.5s;
  font-family: "Inria serif";
  margin-top: 40px;
}

.button:hover, .buttonPrestation:hover {
  background-color: rgb(228, 165, 113, 0.8) !important;
  color: #ffffff !important;
}


@media (max-width: 1024px) {
  .container{
    margin-top: 0;
  }
  .image {
    width: 40%;
    margin-top: 10px;
  }

  .description {
    font-size: 18px;
    text-align: center;
    max-width: 20%;
  }

  .button, .buttonPrestation {
    font-size: 18px;
    height: 50px;
    width: 200px;
  }
}
@media (max-width: 850px) {
  .container{
    margin-top: 0;
  }

  .image {
    width: 40%;
    margin: 10px;
  }

  .description {
    font-size: 16px;
    max-width: 20%;
  }

  .button, .buttonPrestation {
    font-size: 16px;
    height: 40px;
    width: 150px;
  }
}
@media (max-width: 600px) {
  .container{
    margin-top: 0px;
  }

  .containerPhoto {
    width: 50%;
  }

  .image {
    width: 40%;
    margin: 20px;
  }

  .description {
    font-size: 14px;
    max-width: 40%;
  }

  .button, .buttonPrestation {
    font-size: 14px;
    height: 40px;
    width: 150px;
  }
}

@media (max-width: 480px) {
  .container{
    margin-top: 0;
  }

  .image {
    width: 30%;
    margin: 20px;
  }

  .description {
    font-size: 10px;
    max-width: 30%;
  }

  .button, .buttonPrestation {
    font-size: 10px;
    height: 40px;
    width: 100px;
  }
}