@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf');
}

@font-face {
  font-family: 'Safira';
  src: url('../fonts/Safira-March.ttf');
}

.carouselContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.imageHead1 {
  width: 100vw;
  object-fit: cover;
}

.image {
  width: 40%;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  margin: 100px;
  font-size: 22px;
  font-family: "Inria serif";
}

.button {
  border: solid 1px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  width: 50%;
  border-radius: 30px;
  transition: 0.5s;
  font-family: "Inria serif";
  margin-top: 40px;
}

.button:hover {
  background-color: rgb(228, 165, 113, 0.8);
  color: #ffffff;
}

.buttonPrestation {
  border: solid 1px;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  width: 50%;
  border-radius: 30px;
  transition: 0.5s;
  font-family: "Inria serif";
  margin-top: 40px;
}

.buttonPrestation:hover {
  background-color: rgb(228, 165, 113, 0.8);
  color: #ffffff;
}


.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .description {
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 50px;
    font-size: 14px;
    font-family: "Poppins serif";
  }
  .imageHead {
    width: 100vw;
  }
  .imageHead1 {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .imageHeadVert{
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .button {
    border: solid 1px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    width: 80%;
    border-radius: 30px;
    transition: 0.5s;
    font-family: "Poppins";
    margin-top: 40px;
  }
  .buttonPrestation {
    border: solid 1px;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    width: 80%;
    border-radius: 30px;
    transition: 0.5s;
    font-family: "Poppins";
    margin-top: 40px;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
}

@media (max-width: 490px) {
/*   .allContainer {
    margin-top: 300px;
  } */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .description {
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
    margin: 50px;
    font-size: 12px;
    font-family: "Poppins serif";
  }
  .imageHead {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .imageHead1 {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .imageHeadVert{
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .button {
    border: solid 1px;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    width: 80%;
    border-radius: 30px;
    transition: 0.5s;
    font-family: "Poppins";
    margin-top: 40px;
  }
  .buttonPrestation {
    border: solid 1px;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    width: 80%;
    border-radius: 30px;
    transition: 0.5s;
    font-family: "Poppins";
    margin-top: 40px;
  }
  .contactDescription {
    font-size: 14px;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
}