@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

.imageContainer {
  margin: 5px;
  padding: 0;
}

.image{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.imagesContainer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fullscreenModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}

.fullscreenImageContainer {
  background-color: rgba(0, 0, 0, 0);
}

.fullscreenImage {
  max-height: 90vh;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

@media (max-width: 1024px) {
  .image{
    width: 100%;
    height: auto;
  }
  .fullscreenImage {
    max-width: 95%;
  }
}
@media (max-width: 850px) {
  .imageContainer {
    margin: 2px;
  }
  .image{
    width: 100%;
    height: auto;
  }
  .imagesContainer {
    margin-top: 80px;
  }

  .fullscreenImage {
    max-width: 95%;
  }
}
@media (max-width: 480px) {
  .image{
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .imagesContainer {
    margin-top: 50px;
  }
  .fullscreenImage {
    max-width: 95%;
  }
}
