@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

.head {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.headContainer {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(186, 174, 152, 0.6);
  position: fixed;
  height: 70px;
}

.logo {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}

.headerRight{
  background-color: transparent;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.lien {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  margin-right: 20px;
  font-family: 'Glitther Syavina';
}

.instaIcon {
  background-color: transparent;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  color: #000000;
}

.image{
  width: 30vw;
  object-fit: cover;
  height: auto;
  margin: 5px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fullscreenModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fullscreenImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}

.fullscreenImage {
  max-height: 90vh;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .fullscreenImage {
    max-height: 45vh;
  }
}
