@font-face {
  font-family: 'Glitther Syavina';
  src: url('../fonts/GlittherSyavinafree.ttf');
}

@font-face {
  font-family: 'Inria serif';
  src: url('../fonts/InriaSerif-Regular.ttf');
}

.head {
  display: flex;
  width: 100vw;
  height: 100px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.headContainer {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: rgba(186, 174, 152, 0.6);
  position: fixed;
  height: 70px;
}

.logo {
  background-color: transparent;
  margin-top: 10px;
  margin-left: 100px;
  cursor: pointer;
}

.headerRight{
  background-color: transparent;
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.lien {
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  margin-right: 20px;
  font-family: 'Glitther Syavina';
}

.instaIcon {
  background-color: transparent;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  color: #000000;
}

.chevron {
  margin-left: 20px;
  background-color: transparent;
  cursor: pointer;
}

.presationTexte {
  font-family: 'Inria serif';
  text-align: center;
  margin: auto;
  font-size: 22px;
  width: 80vw;
}

.allContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.button {
  border: solid 1px;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  width: 100%;
  transition: 0.5s;
  font-family: 'Inria serif';
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgb(228, 165, 113, 0.8);
  color: #ffffff;
  border: none;
}


@media (max-width: 860px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .button {
    font-size: 18px;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
  .presationTexte {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .button {
    font-size: 13px;
  }
  .box {
    width: 200px;
    height: 100vh;
    font-size: 24px;
  }
  .presationTexte {
    font-size: 12px;
  }
}

